* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.content-wrapper {
  min-height: 100vh;
  background-color: rgb(33, 126, 100);
}

.content-wrapper .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 30px;
}

.search-container {
  background-color: rgb(22, 149, 107);
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.namelogo {
  padding: 1rem 0;
  border-bottom: 1px solid;
  display: inline-block;
}

.namelogo p {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.search-element {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.search-element h3 {
  align-self: center;
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.search-element .entry {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
  color: rgb(184, 178, 178);
  width: 350px;
  border-radius: 5px;
}

.search-list {
  position: absolute;
  right: 0;
  top: 100%;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 10;
}

.search-list .search-list-item {
  background-color: rgb(30, 28, 28);
  padding: 0.5rem;

  width: 342px;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease;
}

.search-list .search-list-item:hover {
  background-color: #1f1f1f;
}

.search-item-thumbnail img {
  width: 40px;
  margin-right: 1rem;
}

.search-item-info h3 {
  font-weight: 600;
  font-size: 1rem;
}

.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-weight: 1000;
  opacity: 0.6;
}

.hide-search-list {
  display: none;
}

.result-container {
  padding: 3rem 0;
}

.movie-poster img {
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}

.movie-info {
  text-align: center;
  color: #fff;
  padding-top: 3rem;
}

.movie-title {
  font-size: 2rem;
  color: var(--yellow-color);
}

.movie-misc-info {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.movie-info .year {
  font-weight: 500;
}

.movie-info .rated {
  background-color: var(--yellow-color);
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}

.movie-info .released {
  font-size: 0.9rem;
  opacity: 0.9;
}

.movie-info .writer {
  padding: 0.5rem;
  margin: 1rem 0;
}

.movie-info .genre {
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}

.movie-info .plot {
  max-width: 400px;
  margin: 1rem auto;
}

.movie-info .language {
  color: var(--yellow-color);
  font-style: italic;
}

.movie-info .awards {
  font-weight: 300;
  font-size: 0.9rem;
}

.movie-info .awards i {
  color: var(--yellow-color);
  margin: 1rem 0.7rem 0 0;
}

@media (max-width: 450px) {
  .logo p {
    font-size: 1.4rem;
  }

  .search-element .entry {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem 1rem;
  }

  .search-element h3 {
    font-size: 1.4rem;
  }

  .search-list {
    width: 90%;
    right: 50%;
    transform: translateX(50%);
  }

  .search-list .search-list-item {
    width: 100%;
  }

  .movie-misc-info {
    flex-direction: column;
  }

  .movie-misc-info li:nth-child(2) {
    margin: 0.8rem 0;
  }
}

@media (min-width: 800px) {
  .search-element {
    flex-direction: row;
  }

  .search-element h3 {
    margin-bottom: 0;
  }

  .result-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-info {
    text-align: left;
    padding-top: 0;
  }

  .movie-info .movie-misc-info {
    justify-content: flex-start;
    padding-left: 0;
  }

  .movie-info .plot {
    margin-left: 0;
  }

  .movie-info .writer {
    padding-left: 0;
    margin-left: 0;
  }
}

